@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<div class="container-lg">
    <br>
    <h1 class="home-center;">.NET 💜 Azure</h1>
    <img src="~/img/wormhole.jpg" height="500px" width="100%"  alt="img-thumbnail">
    <p class="home-center">Example .NET app to Azure App Service.</p>


    
</div>
